body,
html,
body > div:first-child,
div#__next,
div#__next > div {
  height: 100%;
}

.overflow {
  height: 50%;
  overflow: hidden;
}
.overflow .card-img-top {
  transform: scale(1);
  transition: all 0.2s ease-in-out;
}
.overflow .card-img-top:hover {
  transform: scale(1.8);
}
#nprogress .bar {
  background: #ff5367 !important;
}
#nprogress .spinner-icon {
  border-top-color: #ffbb00;
  border-left-color: #ffbb00;
}
.project-btns {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.project-btns a {
  display: flex;
  justify-content: center;
  width: 100%;
  border: 1px solid black;
}
.project-btns a img {
  width: 40px;
}
.contact-info {
  margin: 40px;
  background: white;
  color: black;
  padding: 25px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
.contact-details {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
}
.radius {
  border-radius: 10px;
}
